.main{
  margin-top : 10vw;
}
.email{
  width: 400px;
  margin-left: 30vw;
}
.password{
  width: 400px;
  margin-left: 30vw;
}
.bnt{
  width: 400px;
  margin-left: 40vw;
}
#google{
  margin-top: 1vw;
  margin-left: -10vw;
  width: 400px;
  background-color: blue;
  color: white;
  font-size: 20px;
}
a{
  margin-left: 30vw;
  font-size: 1.2vw;
}
.err{
  margin-left: 30vw;
  font-size: 1.2vw;
  margin-bottom: 5px;
}