<form class="main" #login (ngSubmit)="EmailSign()">
  <div *ngIf="flag" class="alert">
    <i class="material-icons">
      clear
      </i>
      <span class="mes">
        {{err}}
      </span>
  </div>
  <div class="email">
    <div class="form-group">
      <label>Email :</label>
      <input class="form-control" name="email" [(ngModel)]="email" placeholder="Email" required>
    </div>
  </div>

  <div class="password">
    <div class="form-group">
      <label>Password :</label>
      <input class="form-control" type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
    </div>
  </div>

  <div class="bnt">
    <div class="from-group">
      <button class="btn btn-default" type="submit">
        Login</button>&nbsp;
        <button class="btn btn-default" type="button" (click)="resetForm()">
          Reset</button><br/>
        <button class="btn btn-default" id="google" type="button" (click)="GoogleSign()">
          Google</button>  
      </div>
  </div>
  <div>
      <a routerLink="/signup" routerLinkActive="active">Create New Account</a>
  </div>

</form>