.main{
    margin-top : 10vw;
  }
  .email{
    width: 400px;
    margin-left: 30vw;
  }
  .password{
    width: 400px;
    margin-left: 30vw;
  }
  .bnt{
    width: 400px;
    margin-left: 40vw;
  }
  a{
      margin-left: 30vw;
      font-size: 1.2vw;
  }
  .alert{
    margin-left: 30vw;
    background-color: red;
    width: 30vw;
  }
  i{
    margin-top:6px;
    background-color: white;
    border-radius: 20px;
  }
  .mes{
    color: white;
  }